.App {
  max-width: 800px;
  margin: 60px auto;
}

.measurement {
  text-transform: capitalize;
  font-weight: bold;
}

.ui.bikeInfo {
  margin-bottom: 10px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

/* Utility */

.u-align-top {
  vertical-align: top;
}

.u-text-subtle {
  color: #b4b4b4;
}

/* Forms General */

.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ui.form .field input,
.ui.form .field select,
.ui.form .field textarea {
  width: 75%;
}

.ui.form table .field input {
  width: 100%;
}

.ui.form .field input.error,
.ui.form .field select.error {
  border-color: #da1212;
}

.ui.form .field :disabled {
  opacity: 1;
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

/* Fit Changes */

.ui.comments {
  max-width: 100%;
}

.changeFormEdit {
  display: none;
  margin-top: 10px;
}

.changeFormEdit.visible {
  display: block;
}

.ui.comments .comment {
  border-top: 1px solid #ececec;
}

.ui.comments .comment .text {
  color: #b4b4b4;
}

.changeItem .actions {
  visibility: hidden;
}

.changeItem:hover .actions {
  visibility: visible;
}

.notes {
  margin: 8px 0 0 8px;
}

.notes p {
  font-style: italic;
}

.ui.comments .comment .author {
  display: inline;
}

.ui.comments .comment .metadata {
  float: right;
}
