@import "~antd/dist/antd.css";

header,
footer {
  display: flex;
  height: 10vh !important;
  align-items: center;
}

main {
  min-height: 80vh !important;
}

.full-height {
  min-height: 80vh !important;
}

.center-text {
  text-align: center;
}

.space-above-small {
  display: block;
  margin-top: 12px;
}

.logo {
  color: #fff;
}
