.App {
  max-width: 800px;
  margin: 60px auto;
}

.error {
  background: #ff9bac;
  color: #8e0a0a;
  font-size: 13px;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
}

.measurement {
  text-transform: capitalize;
  font-weight: bold;
}

.ui.bikeInfo {
  margin-bottom: 10px;
}

.ui.form .field :disabled {
  opacity: 1;
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ui.form .field input,
.ui.form .field select {
  width: 75%;
}

.ui.form table .field input {
  width: 100%;
}
